@use "../abstracts/extend" as *;
@use "../abstracts/variables" as *;


.home{
    .portfolio{
        width: 89%;
        margin: 0 auto;
        flex-direction: column;
        // position: relative;
        margin-bottom: 40px;
        .text{
            width: 20%;
            margin: 0 auto;
            justify-content: center;
            position: relative;

        

        h1{
            margin: 30px 0;
            text-align: center;
            font-size: 40px;
            color: $maintextcolor;
            font-family: $head-font;


        }
        i{
            font-size: 38px;
            text-align: center;
            position: absolute;
            left:calc(50% - 19px);
            color: $maintextcolor;
            
        }
    }
        .boxes{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            .box{
                width: 32%;
                height: 300px;
                margin-top: 100px;
                border-radius: 10px;
                padding: 22px 0;

                img{
                    width: 100%;
                    height: 100%;
                }

            }
            .box1{
                background-color: #ba4c63;
            }
            .box2{
                background-color: #1fa4b6;
            }
            .box3{
                background-color: black;
            }
            .box4{
                background-color: #1d83c1;
            }
            .box5{
                background-color:#1037b5 ;
            }
            .box6{
                background-color:#ccb2a3;
            }
        }
    }
}
.home{
    .portfolio{
        .boxes{
            .box:hover{
                background-color:RGB(26, 188, 156, 80%);
                

            }
        }
    }

}
.about{
    width: 100%;
    background-color: $mainColor;
    @extend %center-item;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;

    flex-direction: column;
    h1{
        margin-bottom: 20px;
        color: white;
        font-size: 50px;
        font-family: $head-font;


    }
    i{
        font-size: 38px;
        margin-bottom: 45px;
    }
    .paragraphe{
        display: flex;
        column-gap: 30px;
        p{
            font-size: 20px;
            text-align: justify;
            color: white;
            font-family: $head-font;
            margin-bottom: 45px;
            
        }

    
    }
    .btn{
        width: 260px;
        height: 70px;
        background-color: $mainColor;
        border: 2px solid white;
        @extend %center-item;
        column-gap: 10px;
        border-radius: 8px;
        margin-bottom: 90px;
        i{
            margin-top: 40px;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            color: white;
        }
    }

}

